@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap");
* {
  margin: 0;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 75vw;
}

.container-2 {
  margin: 0 auto;
  width: 55vw;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

h1, h2 {
  font-family: 'Lexend Exa', sans-serif;
}

h1 {
  font-size: 2.7em;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-size: 0.8rem;
  color: darkred;
  margin: 20px 0;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  line-height: 20pt;
  letter-spacing: 1px;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  height: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  font-weight: 900;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a {
  display: block;
  margin: 20px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

nav a:hover {
  color: orange;
}

nav .extra {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .extra span {
  padding-left: 10px;
}

nav .extra span:nth-child(1) {
  border-left: 1px solid black;
  padding-left: 20px;
}

.hero {
  background: url(../img/dim-sum.jpg);
  background-size: cover;
  height: 90vh;
  position: relative;
}

.hero .content {
  height: 100%;
}

.hero .intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 130px;
}

.hero .intro h1 {
  color: white;
}

.hero .intro h2 {
  font-size: 1.3em;
}

.hero .intro .btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr  / 1fr 1fr;
  grid-gap: 10px;
}

.hero .intro .btn {
  padding: 10px 20px;
  border: 3px solid white;
  font-size: 2em;
}

.hero .intro .btn a {
  color: white;
}

.section {
  padding: 80px 0;
}

.section .container-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr / 1fr 1fr;
  grid-gap: 60px;
}

.section .photos {
  position: relative;
}

.section .photo {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.75);
}

.section .photo:nth-child(2) {
  position: absolute;
  top: 40%;
  right: 20px;
}

.section .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}

.section .dots {
  font-size: 2.5em;
  letter-spacing: 2px;
}

.grey {
  background-color: #f1f1f1;
}

.grey .container-2 {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grey .copy {
  text-align: center;
}

.grey .slider img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}

.menu .copy {
  text-align: right;
}

.bump {
  margin-top: 130px;
  padding: 120px 0 100px;
}

.bump .container-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bump .photos {
  position: relative;
}

.bump .photos img {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: -70px;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.75);
}

.bump h2 {
  color: gray;
  letter-spacing: 2px;
}

.bump p {
  font-size: 1.5em;
}

.center .container-2 {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  grid-gap: 0px;
  text-align: center;
}

.services {
  padding: 80px 0 0 0;
}

.services .service {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr /1fr 1fr 1fr;
  margin: 0 auto;
  width: 80vw;
  text-align: center;
  height: auto;
}

.services .service p {
  font-size: 1em;
  padding: 80px;
}

.services .service p:nth-child(2), .services .service p:nth-child(3) {
  border-left: 1px solid #cccccc;
}

.services .copy {
  padding-bottom: 50px;
}

.services .service-img {
  height: 200px;
  background: url(../img/service.jpg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .service-img input {
  text-transform: uppercase;
  padding: 15px 20px;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 0.7em;
  letter-spacing: 1.5px;
  font-weight: 700;
  border: 2px solid white;
  background-color: #1c5071;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services .service-img input:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #1c5071;
  color: #1c5071;
}

.services .service-img input:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.blog .boxes {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
  text-align: center;
  font-size: 0.6em;
  margin-top: 50px;
}

.blog .boxes h1 {
  color: lightgrey;
}

.blog .boxes h2 {
  font-size: 1.3em;
  padding: 20px 0;
}

.blog .boxes .dots {
  font-size: 5em;
}

.blog .boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 320px;
}

.blog .boxes .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 290px;
  width: 290px;
  background-color: #fff;
}

.blog .boxes .box:nth-child(1) {
  background-image: url(../img/resto.jpg);
}

.blog .boxes .box:nth-child(2) {
  background-image: url(../img/strawberry.jpg);
}

.blog .boxes .box:nth-child(3) {
  background-image: url(../img/slider/image2.jpg);
}

.contact {
  padding-bottom: 150px;
}

footer {
  height: 120px;
}

footer .container-3 {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 90vw;
}

footer .container-3 .social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container-3 .social i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
}

footer .container-3 .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container-3 .logo img {
  width: 100px;
  height: auto;
}

footer .container-3 h2 {
  color: black;
}

@media screen and (max-width: 700px) {
  .blog .copy {
    height: 70px;
  }
  .blog .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .boxes .box {
    margin: 20px 0;
  }
  .section .container-2 {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr / 1fr;
  }
  .services .service {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr /1fr;
    border: none;
    width: 100vw;
  }
  .services .service p {
    border-top: 1px solid #cccccc;
  }
  .services .service p:nth-child(2), .services .service p:nth-child(3) {
    border-left: none;
  }
  footer {
    height: auto;
    padding: 40px 0;
    font-size: 0.9em;
  }
  footer .container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .social {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template: 1fr 1fr/repeat(3, 1fr);
  }
  footer .social h2 {
    -ms-grid-row: 1;
    grid-area: 1/span 3;
  }
}
/*# sourceMappingURL=style.css.map */